<%= form_for(@marker_synonym) do |f| %>
  <% if @marker_synonym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marker_synonym.errors.count, "error") %> prohibited this marker_synonym from being saved:</h2>

      <ul>
      <% @marker_synonym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alternate_name %><br>
    <%= f.text_field :alternate_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
