<p id="notice"><%= notice %></p>

<h1>Listing Marker Synonyms</h1>

<table>
  <thead>
    <tr>
      <th>Alternate name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marker_synonyms.each do |marker_synonym| %>
      <tr>
        <td><%= marker_synonym.alternate_name %></td>
        <td><%= link_to 'Show', marker_synonym %></td>
        <td><%= link_to 'Edit', edit_marker_synonym_path(marker_synonym) %></td>
        <td><%= link_to 'Destroy', marker_synonym, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marker synonym', new_marker_synonym_path %>
