<html>
<head>
  <meta charset="UTF-8">
  <title>CTRP Backoffice</title>
</head>
<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <h4>CTRP Backoffice</h4>
                <ul class="nav nav-stacked">
                    <li><a href="/ctrp/ui#/main/welcome">Back to Angular</a></li>
                </ul>
                <h4>CTRP App Administration</h4>
                <ul class="nav nav-stacked">
                    <li><a href="/ctrp/admin">Rails Admin Plugin</a></li>
                    <li><a href="/ctrp/admin/app_setting">App Settings</a></li>
                    <li><a href="/ctrp/backoffice/static_members">Static Members</a></li>
                    <li><a href="/ctrp/users">Rails User Portal</a></li>
                </ul>
                <h4>App Debugging</h4>
                <ul class="nav nav-stacked">
                    <li><%= link_to 'Download Rails application log', backoffice_download_log_url %></li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Rails Environment</div>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li class="pad-text gray-text">Rails environment: <%= Rails.env%></li>
                            <li class="pad-text gray-text">Git information:
                                <ul>
                                    <li class="pad-text gray-text">Branch: <%=CTRP::GIT_BRANCH %></li>
                                    <li class="pad-text gray-text">Short revision: <%=CTRP::GIT_SHORT_REVISION %></li>
                                    <li class="pad-text gray-text">Full revision:
                                        <ul>
                                            <li><a target="_blank" href="https://github.com/cbiit/ctrp/commit/<%=CTRP::GIT_FULL_REVISION %>"><%=CTRP::GIT_FULL_REVISION %></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        Rails ENV dump:<br />
                            <%= debug ENV.to_h.to_yaml %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
