<p id="notice"><%= notice %></p>

<h1>Listing Marker Cadsrs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Meaning</th>
      <th>Description</th>
      <th>Cadsr</th>
      <th>Source status</th>
      <th>Nv term identifier</th>
      <th>Pv name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marker_cadsrs.each do |marker_cadsr| %>
      <tr>
        <td><%= marker_cadsr.name %></td>
        <td><%= marker_cadsr.meaning %></td>
        <td><%= marker_cadsr.description %></td>
        <td><%= marker_cadsr.cadsr_id %></td>
        <td><%= marker_cadsr.source_status_id %></td>
        <td><%= marker_cadsr.nv_term_identifier %></td>
        <td><%= marker_cadsr.pv_name %></td>
        <td><%= link_to 'Show', marker_cadsr %></td>
        <td><%= link_to 'Edit', edit_marker_cadsr_path(marker_cadsr) %></td>
        <td><%= link_to 'Destroy', marker_cadsr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marker cadsr', new_marker_cadsr_path %>
