<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @cadsr_marker_status.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cadsr_marker_status.name %>
</p>

<%= link_to 'Edit', edit_cadsr_marker_status_path(@cadsr_marker_status) %> |
<%= link_to 'Back', cadsr_marker_statuses_path %>
