<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :po_id %><br>
    <%= f.text_field :po_id %>
  </div>
  <div class="field">
    <%= f.label :source_id %><br>
    <%= f.text_field :source_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state_province %><br>
    <%= f.text_field :state_province %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
    <div class="field">
      <%= f.label :source_status_id %><br>
      <%= f.collection_select :source_status_id, SourceStatus.order(:name), :id, :name, include_blank: true %>
    </div>
    <div class="field">
      <%= f.label :source_context_id %><br>
      <%= f.collection_select :source_context_id, SourceContext.order(:name), :id, :name, include_blank: true %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
