<h2>Thanks for signing up </h2>

<h3> Receive Email Notifications </h3>

<%= form_for(@user, :url => wizard_path, :method => :put) do |f| %>
    <div class="field">
      <%= f.label :receive_email_notifications %><br />
      <%= f.label :receive_email_notifications, "Yes", :value => "true"  %>
      <%= f.radio_button :receive_email_notifications, true %>
      <%= f.label :receive_email_notifications, "No", :value => "false" %>
      <%= f.radio_button :receive_email_notifications, false, :checked => true %>
    </div>
    <div class="field">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>

<% end %>

<%= link_to 'Back to User Portal', users_path %>